.fg-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 4rem;
}

@media (min-width: 768px) {
  .fg-container {
    grid-template-columns: repeat(3, 1fr);
  }  
}

.fg-card {
  width: 80%;
  height: 90%;
  display: flex;
  border-radius: 0 0 1.5625rem 1.5625rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-shadow-color);
  gap: 2rem 0;
  padding: 2rem 0;
  position: relative;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.fg-card::after {
  content: '';
  background-image: url('../../assets/svg/dots.svg');
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  bottom: 1.5rem;
}

/* @keyframes */

@media (min-width: 768px) {
  .fg-card {
    width: 100%;
  }
}

.fg-card__title {
  color: var(--reverse-primary-text-color);
  margin: 0;
}

.fg-card__teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
}

.fg-card__team {
  width: 80%; 
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: .5rem;
  box-sizing: border-box;
  background-color: var(--secondary-theme-color);
  opacity: .9;
  transition: opacity .25s;
}

.fg-card__team:hover {
  opacity: 1;
}

.fg-card__team-img__container {
  display: flex;
  justify-content: center;
}

.fg-card__team-img {
  width: 2rem;
  height: 2rem;
  display: flex;
  object-fit: contain;
}

.fg-card__team-text__container {
  width: 40%;
}

.fg-card__team-text {
  color: var(--reverse-primary-text-color);
  margin: 0;
  font-size: 1rem;
  text-align: center;
}